* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url(folder/image/Header\ Background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 27px;
    height: 505px;
    gap: 20px;
}

header h1 {
    font-family: "Luckiest Guy", sans-serif;
    color: #ffffffff;
    width: 178px;
    margin-bottom: 14px;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
}

header p {
    color: #ffffffff;
    font-weight: lighter;
    line-height: 21.79px;
}

.botao-principal {
    display: flex;
    flex-direction: column;
    gap: 17px;
    justify-content: center;
    align-items: center;
}

span {
    background-color: #ffffffff;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 98%;
    height: 34px;
}

#abra {
    color: #ffffffff;
    background-color: rgba(35, 39, 42, 1);
}

section img {
    width: 100%;
}

section h2 {
    width: 370px;
    font-weight: 800;
    font-size: 24px;
    margin: 30px 0px;
}

section h1 {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    margin: 7px 0px 30px 0px;
}

section p {
    font-weight: 400;
    margin-bottom: 27px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 27px;
}

#secao {
    background-color: rgba(246, 246, 246, 1);
}

#secao2 {
    background-color: rgba(246, 246, 246, 1);
}

#secao p {
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    background-color: rgba(35, 39, 42, 1);
}

footer img {
    width: 162px;
}

@media screen and (min-width: 950px) {
    header {
        background-image: url(folder/image/Header\ Background.png);
        background-size: cover;
        display: flex;
        align-items: center;
        text-align: center;
    }

    header h1 {
        width: 313px;
        font-size: 56px;
        line-height: 56px;
    }

    header p {
        width: 757px;
    }

    .botao-principal {
        display: flex;
        flex-direction: row;
    }

    #abra {
        width: 281px;
    }

    .abrir {
        width: 170px;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 17px;

        perspective: 700px;
    }

    section h2 {
        font-size: 40px;
        line-height: 55px;
    }

    section img {
        width: 607px;
    }

    .texto {
        width: 348px;
    }

    .texto p {
        text-align: left;
        width: 338px;
    }

    #secao img {
        order: 2;
    }

    #secao2 {
        display: flex;
        flex-direction: column;
    }

    #secao2 p {
        margin-bottom: 0px;
        width: 612px;
    }

    #secao2 h1 {
        width: 508px;
        text-align: center;
    }

    #texto2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    footer img {
        width: 230px;
    }
    
    section img:hover {
        transform: rotatey(30deg);
        transition: 0.4s;
    }

    #secao:hover img {
        transform: rotatey(-30deg);
    }

    #secao2:hover img {
        transform: rotatex(30deg);
    }
}
